<packages>
<package id="vscode" />
<package id="sysinternals" />
<package id="dotnetcore-sdk" />
<package id="visualstudio2019professional" />
<package id="resharper-platform" />
<package id="ncrunch-vs2019" />
<package id="vscoloroutput" />
<package id="ozcode" />
<package id="sourcetree" />
</packages>